<!-- <div class="permanent-bar">
  <div class="permanent-presentation">
    <div class = "permanent-bigger">Sylvie Lelièvre </div>
    <div>Naturopathe & Infirmière</div>
  </div>
  <div class="permanent-contact right-align">
    <div >Consultation à Nantes & aux Herbiers</div>
    <div>Tel : 06.13.50.05.82</div>
  </div>
</div> -->

<!-- <div class="permanent-bar">
    <div class = "permanent-bigger">Sylvie Lelièvre </div>
    <div class="permanent-details left-align">
      <div>Naturopathe & Infirmière - Tel : 06.13.50.05.82</div>
      <div >Consultation à Nantes (44) & aux Herbiers (85)</div>
    </div>
</div> -->

<div class="permanent-bar">
    <div class = "permanent-bigger">Sylvie Lelièvre </div>
    <div class="permanent-details left-align">
      <div>Naturopathe & Infirmière - Consultation à Nantes (44) & aux Herbiers (85) - Tel : 06.13.50.05.82</div>
    </div>
</div>


 <nav role="navigation">
    <div class="nav-wrapper">
      <ul class=" navbar-width hide-on-med-and-down">
        <li><%= link_to "Accueil", "index.html", 'data-info': "index" %></li>
        <li><%= link_to "Mes Spécialités", "specialites.html", 'data-info': "specialites" %></li>
        <li><%= link_to "Mes Ateliers", "ateliers.html", 'data-info': "ateliers" %></li>
        <li><%= link_to "Consultations", "consultations.html", 'data-info': "consultations" %></li>
        <li><%= link_to "Qui suis-je?", "parcours.html", 'data-info': "parcours" %></li>
        <li><%= link_to "Contact", "contact.html", 'data-info': "contact" %></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><%= link_to "Accueil", "index.html", 'data-info': "index" %></li>
        <li><%= link_to "Mes Spécialités", "specialites.html", 'data-info': "specialites" %></li>
        <li><%= link_to "Mes Ateliers", "ateliers.html", 'data-info': "ateliers" %></li>
        <li><%= link_to "Consultations", "consultations.html", 'data-info': "consultations" %></li>
        <li><%= link_to "Qui suis-je?", "parcours.html", 'data-info': "parcours" %></li>
        <li><%= link_to "Contact", "contact.html", 'data-info': "contact" %></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

