<!-- <div class="permanent-bar">
  <div class="permanent-presentation">
    <div class = "permanent-bigger">Sylvie Lelièvre </div>
    <div>Naturopathe & Infirmière</div>
  </div>
  <div class="permanent-contact right-align">
    <div >Consultation à Nantes & aux Herbiers</div>
    <div>Tel : 06.13.50.05.82</div>
  </div>
</div> -->

<!-- <div class="permanent-bar">
    <div class = "permanent-bigger">Sylvie Lelièvre </div>
    <div class="permanent-details left-align">
      <div>Naturopathe & Infirmière - Tel : 06.13.50.05.82</div>
      <div >Consultation à Nantes (44) & aux Herbiers (85)</div>
    </div>
</div> -->



  <div class="row permanent-bar valign-wrapper">
     <div class = "permanent-logo left-align col s12 m3"> <%= link_to "Sylvie Lelièvre", "index.html", 'data-info': "index" %></div>
      <div class="permanent-details right-align col s12 m9"> Naturopathe & Infirmière - Consultation à Nantes (44) & aux Herbiers (85) - Tel : 06.13.50.05.82
    </div>
  </div>

<!-- Top Menu -->

<nav role="navigation">
  <div class="nav-wrapper">
  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="navbar-widt hide-on-med-and-down">
      <li><%= link_to "Accueil", "index.html", 'data-info': "index" %></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Mes Spécialités<i class="material-icons right">arrow_drop_down</i></a></li>
      </li>
      <li><%= link_to "Consultations", "consultations.html", 'data-info': "consultations" %></li>
      <li><%= link_to "Qui suis-je?", "parcours.html", 'data-info': "parcours" %></li>
      <li><%= link_to "Contact", "contact.html", 'data-info': "contact" %></li>
      <li class="hide"><%= link_to "Mes Ateliers", "ateliers.html", 'data-info': "ateliers" %></li>
    </ul>

<!-- Nav mobile -->

    <ul id="nav-mobile" class="side-nav">
      <li ><%= link_to "Accueil", "index.html", 'data-info': "index" %></li>
      <li>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Mes Spécialités<i class="material-icons right">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                 <li><%= link_to "Nutrition", "nutrition.html" %></li>
                  <li><%= link_to "Micronutrition", "micronutrition.html" %></li>
                  <li><%= link_to "Gémmothérapie", "gemmotherapie.html"%></li>
                  <li><%= link_to "Accompagnement au parcours de vie", "parcours-de-vie.html", class: "smaller-text-sidebar" %></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li><%= link_to "Consultations", "consultations.html", 'data-info': "consultations" %></li>
      <li><%= link_to "Qui suis-je?", "parcours.html", 'data-info': "parcours" %></li>
      <li><%= link_to "Contact", "contact.html", 'data-info': "contact" %></li>
      <li class="hide"><%= link_to "Mes Ateliers", "ateliers.html", 'data-info': "ateliers" %></li>
    </ul>
</nav>

<!--   Dropdown menu -->

<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Nutrition", "nutrition.html", 'data-info': "nutrition" %></li>
  <li class="divider"></li>
  <li><%= link_to "Micronutrition", "micronutrition.html", 'data-info': "micronutrition" %></li>
  <li class="divider"></li>
  <li><%= link_to "Gémmothérapie", "gemmotherapie.html", 'data-info': "gemmotherapie" %></li>
  <li class="divider"></li>
  <li ><%= link_to "Accompagnement au parcours de vie", "parcours-de-vie.html", 'data-info': "parcours-de-vie" %></li>
</ul>

  <!-- JS -->

<script>

    $(document).ready(function(){
      // Sidebar
      $(".button-collapse").sideNav({
      menuWidth: 350, // Default is 300
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    });


      // Dropdown
      $('.dropdown-button').dropdown({
          belowOrigin: true, // Displays dropdown below the button
          hover: true // Activate on hover
        }
      );
  });
</script>



