---
layout: home
title: Sylvie Lelièvre - Naturopathie, Micronutrition et Alimentation Crue
---

<!-- SLIDER CODE -->

<div class="slider hide-on-small-only">
    <ul class="slides">
        <li>
            <img src="https://static.pexels.com/photos/23388/pexels-photo.jpg" class="slider-soon">
            <div class="caption right-align ">
                <h1 class= "slider-title">Nutrition</h1>
            </div>
        </li>
        <li>
            <div class="slider-soon" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(<%= image_path "Etal.jpeg" %>);" alt="Crudités">
            <div class="caption right-align">
                <h1 class= "slider-title">Micronutrition</h1>
            </div>
        </li>
        <li>
            <div class="slider-soon" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(<%= image_path "bourgeon.jpg" %>);" alt="bourgeon">
            <div class="caption right-align">
                <h1 class= "slider-title">Gemmothérapie</h1>
            </div>
        </li>
        <li>
            <div class="slider-soon" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(<%= image_path "Marguerite.jpg" %>);" alt="Marguerite">
            <div class="caption right-align">
                <h1 class= "slider-title" >Accompagnement au Parcours de Vie</h1>
            </div>
        </li>
    </ul>
</div>

<!-- TEXT/PIC BLOC 1 -->

<div class="adjusted-container">
  <h3 class = "center-align">Bienvenue !</h3>
  <div class="row presentation-bloc">
    <div class ="col s12 m3">
      <%= image_tag 'user.png', class: "avatar-big", alt: "Sylvie" %>
     <!--  <div class="video-container">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/h8eIttbSUC4" frameborder="0" allowfullscreen></iframe>
      </div> -->
    </div>
    <div class ="col s12 m9">
      <div>
      <p>Prendre soin de son corps, c’est aussi être mieux dans sa tête. Ce sont le corps et l’esprit qui nous définissent en tant qu’être. Dans l'Antiquité déjà, Homère préconisait « <i>un esprit sain dans un corps robuste</i> ».</p>
      <p>Chacun de nous sait que de grandes émotions peuvent rendre notre corps malade ou le faire souffrir. Une souffrance du corps peut aussi nous mettre très mal à l’aise émotionnellement ou psychologiquement. Notre corps est constitué de dizaines de milliers de milliards de cellules. Pour se maintenir en bonne santé, il est indispensable de  bien nourrir toutes ces cellules et de leur apporter des éléments indispensables à leur fonctionnement.</p>
      <p>Tout est question d’équilibre.  Travailler sur son corps ou son esprit nécessite d’agir et de prendre soin de soi.  Il s’agit de devenir acteur de notre propre santé pour tendre vers cet équilibre.</p>
      <br>
      <p>La nature peut nous y aider  grandement.  Je vous apporte avec la naturopathie des moyens naturels  (alimentation, micronutrition et  gemmothérapie) pour renforcer votre organisme en nourrissant vos cellules et optimiser leur fonctionnement. Mais pour cela, j’ai besoin de vous car cela nécessite des efforts. Je vous accompagne en tant que naturopathe dans les changements à mettre en place que vous soyez en bonne santé, malade ou handicapé.</p>
      <p>Prenez soin de vous.</p>



      </div>
    </div>
  </div>
</div>


<!-- QUOTATION 1 -->

<div class="banner-wrap-color center-align">
  <h4>« Notre corps est la barque qui nous portera jusqu’à l’autre côté rive de l’océan de la vie. Il faut en prendre soin. »  Swami Vivekananda </h4>
</div>

<!-- CATEGORIES CODE -->

<div class="adjusted-container">
  <div class="row">
    <div class="col s12 m6 l4 center-align">
      <h3>Nutrition</h3>
      <div>
        <div>Alimentation santé</div>
        <div>Equilibre alimentaire</div>
        <div>Alimentation consciente</div>
        <div>Respect de vos choix</div>
      </div>
    </div>
    <div class="col s12 m6 l4 center-align">
      <h3>Micronutrition</h3>
      <div>
        <div>Oligoéléments</div>
        <div>Vitamines</div>
        <div>Acides gras essentiels</div>
        <div>Minéraux</div>
      </div>
    </div>
    <div class="col s12 m12 l4 center-align">
       <h3>Gemmothérapie</h3>
       <div>
        <div>Bourgeons</div>
        <div>Jeunes pousses</div>
        <div>Radicelles</div>
        <div>Macérats glycérinés</div>
      </div>
    </div>
  </div>
</div>
<br>

<!-- QUOTATION 2 CODE -->

<div class="banner-wrap-color center-align">
  <h4>« Pour avancer et s’accomplir dans la vie, on a besoin de croire et d’être compris, de sentir que quelqu’un a confiance en nous » Reine Malouin </h4>
</div>

<!-- TEXT/PIC BLOC 1 -->

<div class="adjusted-container">
  <h3>Qu'est-ce que la naturopathie?</h3>
  <div class="row">
    <div class ="col s12 m6">
      <p>L’Organisation Mondiale de la Santé (O.M.S.) classe la naturopathie comme 3ème médecine traditionnelle mondiale, après les médecines traditionnelles chinoises et ayurvédiques. C’est sur ces bases que le Bureau International du Travail l’a officiellement enregistrée en 1968 et que de son côté, l’UNESCO la considère comme une médecine traditionnelle également.

      Aujourd’hui  l’O.M.S.  définit  la santé pour l’individu comme un « état complet de bien-être  physique, mental et social », et toujours selon l’OMS, "la naturopathie est un ensemble de méthodes de soins visant à renforcer les défenses de l'organisme par des moyens considérés comme naturels et biologiques".

      La naturopathie est une médecine non conventionnelle qui vise à équilibrer le fonctionnement de l'organisme par des moyens jugés « naturels » : régime alimentaire, hygiène de vie, phytothérapie, techniques manuelles, exercices, etc. Elle fait partie des approches non conventionnelles qui se disent « holistiques ». </p>
    </div>
    <div class ="col s12 m6">
      <%= image_tag 'Almonds.png', class: "responsive-img", alt: "Amandes" %>
    </div>
  </div>

</div>
<br>



